
#id_h1{ 
    color: red;
}

.class_h1{ 
    color: blue;
}

h1{
    color: rgb(192, 82, 157);
}

div h1{
    color: black;
}

#ul_1{
    background-color: rgba(0, 255, 255, 0.414);
    
}
table{
    text-align: center;
    border-collapse: collapse;
}
table td,table th{
    border: solid 1px;
}
