
#id_h1{ 
    color: red;
}

.class_h1{ 
    color: blue;
}

h1{
    color: rgb(192, 82, 157);
}

div h1{
    color: black;
}

#ul_1{
    background-color: rgba(0, 255, 255, 0.414);
    
}
table{
    text-align: center;
    border-collapse: collapse;
}
table td,table th{
    border: solid 1px;
}

#x2{
    color: rgb(0, 0, 0);
    background-color: aqua;
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    width: 200px;
}

#p2{
    display: inline;
}

#div1 h1{
    border: solid 1px ;
}

#div1 span{
    color: aliceblue;
    background-color: black;
    text-align: center;
    position: relative;
    left: 10px;
    top: 20px;
}

#div2 img{
    width: 80px;
    float: left;
    margin: 7px;
}

#div2{
    border: solid 1px;
    height: 160px;
}
div2 p{
    margin: 3px;
}


#div3{
    display: grid;
    grid-template-columns: 238px 370px 300px;   
}

#div4{
    display: grid;
    grid-template-columns: 426px 380px 208px; 
}

.div5{
    display: flex;
    justify-content: right;
}

 .item{
    border: solid 1.5px;
    margin: 3px;
    padding: 3px;
    font-size: 25px;
 }
 .DIV{
    border: solid 1.5px;
 }
