#input1{
    border:0px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(117, 117, 117);
    text-decoration: none;
    outline: none;
}


#div1{
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-bottom: 5px;
}

body{
    background-color: rgb(135, 138, 235);
    text-align: center;
    font-family: "Arial";
}

#div1 input{
    margin-top: 20px;
}

#div1 select{
    margin-top: 20px;
    font-size: 15px;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

form #btn1{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(23, 0, 93);
    margin-right: 250px;
    width: 120px;
}
h1{
    font-weight: 500;
}
h5{
    font-weight: 300;
    color: rgb(90, 90, 90);
}
span{
    color: red;
}
img{
    width: 100px;
    float: left;
    margin-right: 20px;
}

#head{
    text-align: center;
    padding: 0px;
}

h3{
    font-weight: 400;
    color: rgb(53, 53, 53);
}

#btn{
    display: block;
}

#btn2{
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    color: rgb(23, 0, 93);
    background-color:rgb(135, 138, 235);
    text-decoration: underline;
    border: 0;
    font-weight: 500px;
    margin-left: 250px;
}
