#input1{
    border:0px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(117, 117, 117);
    text-decoration: none;
    outline: none;
}


#div1{
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-bottom: 5px;
}

body{
    background-color: rgb(135, 138, 235);
    text-align: center;
    font-family: "Arial";
}

#div1 input{
    margin-top: 20px;
}

#div1 select{
    margin-top: 20px;
    font-size: 15px;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

 form button{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(23, 0, 93);
    display:block;
    margin-left: 277px;
    font-size: 15;
    margin-bottom: 50px;
    width: 100px;
}
h1{
    font-weight: 500;
}
h5{
    font-weight: 300;
    color: rgb(90, 90, 90);
}
span{
    color: red;
}